@import "reset.css";

body {
    background-color: #E6E6E6;
    font-family: Helvetica,Arial,'Lucida Sans Unicode';
    font-size: 120%;
    line-height: 1.5;
    text-align: left;
    clear: both;
    margin: 0 auto;
    overflow: auto;
}

div.mainContent {
    background-color: #FFFFFF;
    line-height: 25px;
    margin: 80px 20%;
    width: 60%;
}
a {
	text-decoration: none;
}
h2 {
    font-size: 140%;
}

header#to-do {
	float:left;
    width:100%;
	background:#D8D8D8;
	background: -o-linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background: -moz-linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background: -webkit-linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	padding: 2%;
	border:solid #A4A4A4 1px;
	height:50px;
}

div.atodo.li {
	font-size:120%;
}
/*section#main {

}*/
#new-todo {
	width:75%;
	height:42px;
	float:left;
	font-size:120%;
	z-index: 2;
}
button#add-todo {
	width:22.5%;
	height:50px;
	font-size: 120%;
	cursor: pointer;
	background:#00CC99;
	background: -o-linear-gradient(to bottom, #00CC99, #088A4B);
	background: -moz-linear-gradient(to bottom, #00CC99, #088A4B);
	background: -webkit-linear-gradient(to bottom, #00CC99, #088A4B);
	background: linear-gradient(to bottom, #00CC99, #088A4B);
    color:#FFFFFF;
    border-style:none;
	-webkit-border-top-right-radius: 5px 5px;
	-webkit-border-bottom-right-radius: 5px 5px;
	-moz-border-bottom-right-radius: 5px 5px;
	-moz-border-bottom-right-radius: 5px 5px;
	border-bottom-right-radius:5px 5px;
	border-top-right-radius:5px 5px;

}

#todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#todo-list li {
	position: relative;
	/*font-size: 24px;*/
	border-bottom: 1px dotted #ccc;
	border:solid #A4A4A4 1px;
    float:left;
    width:100%;
    padding:2%;
    height:48px;
    background-color:#FFFFFF;
}

#todo-list li:last-child {
	/*border-bottom: none;*/
}

#todo-list li.editing {
	border-bottom: none;
	padding: 0;
}

#todo-list li.editing .edit {
	display: block;
}

#todo-list li.editing .view {
	display: none;
}

#todo-list li .toggle {
	text-align: center;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: relative;
	top: 0;
	bottom: 0;
	margin: 0;
	/* Mobile Safari */
	border: none;


}

#todo-list li .toggle:after {
	
	line-height: 50px;
}

#todo-list li .toggle:checked:after {
	bottom: 1px;
	position: relative;
}

#todo-list li label {
	width:85%;
	margin-left:10px;
	line-height: 1.2;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

#todo-list li.completed label {
	color: #a9a9a9;
	text-decoration: line-through;
	font-style:italic;
	font-size:90%;
}

#todo-list li .edit {
	display: none;
}

#todo-list li.editing:last-child {
	margin-bottom: -1px;
}
.done {
	text-decoration:line-through;
	color:#A4A4A4;
	font-size:90%;
}


/* Landscape phones and down */
@media (max-width: 480px) {
	body {
    background-color: #E6E6E6;
    font-family: Helvetica,Arial,'Lucida Sans Unicode';
    font-size: 90%;
    line-height: 1.5;
    text-align: left;
    clear: both;
    margin: 0 auto;
    overflow: auto;
}

div.mainContent {
    background-color: #FFFFFF;
    line-height: 25px;
    margin: 0;
    
    width: 100%;
}

h2 {
    font-size: 140%;
}

header#to-do {
	float:left;
    width:100%;
	background:#D8D8D8;
	background: -o-linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background: -moz-linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background: -webkit-linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	padding: 2%;
	border:solid #A4A4A4 1px;
	height:50px;
}
div.atodo {
    border:solid #A4A4A4 1px;
    float:left;
    width:100%;
    padding:1%;
    height:50px;

}
#main {
    z-index: 2;
}
input {
	width:75%;
	height:42px;
	float:left;
	font-size:120%;
}
button.add-todo {
	width:21%;
	height:50px;
	font-size: 200%;
	cursor: pointer;
	background:#00CC99;
	background: -o-linear-gradient(to bottom, #00CC99, #088A4B);
	background: -moz-linear-gradient(to bottom, #00CC99, #088A4B);
	background: -webkit-linear-gradient(to bottom, #00CC99, #088A4B);
	background: linear-gradient(to bottom, #00CC99, #088A4B);
    color:#FFFFFF;
    border-style:none;
	-webkit-border-top-right-radius: 5px 5px;
	-webkit-border-bottom-right-radius: 5px 5px;
	-moz-border-bottom-right-radius: 5px 5px;
	-moz-border-bottom-right-radius: 5px 5px;
	border-bottom-right-radius:5px 5px;
	border-top-right-radius:5px 5px;
	content: '+';

}}