
html, body, body div, h1, h2, h3, h4, p, pre, em, img, b, i, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  font-family: arial, helvetica, sans-serif;
  font-size: 100%;
}


body {
background: #fafafa;
 color: #000;
 margin: 0px;
 font-family: roboto, arial, helvetica, sans-serif;
 font-size: 1em;

}

  .buttonspanp{
    display: inline-block;
    width: 10%;
  }

  .buttonspanl{
    display: none;

  }

.button-todoaddp{
  background: #259b24;
  color: #fff;
  border: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
  height: 2em;
  padding: 0px;
  letter-spacing: 
  }


.button-todoaddl{
  background: #259b24;
  color: #fff;
  border: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
  height: 2em;
  white-space: nowrap;
  padding: 0px;
  }


.i-completed{
  color: #dddddd;
  text-decoration: line-through
}

.listcontainer{
	background: #fff;
	border: 1px;
	border-color: #000;
  margin: auto;
  max-width: 500px;
  }

.listtop{
  background: #eceff1;
  padding: 5px;
}

.todoadd{
  border: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 2em;
  width: 90%;
}


.listitem{
	border-top: 1px solid;
	border-color: #eee;
	padding: 3px;
}



.taskitem{
  position: relative;
  bottom: 4px;
 }





@media all and (min-width: 350px) and (orientation:landscape) {
  .listcontainer{
    width: 70%;
    }

    .buttonspanp{
    display: none;
  }

  .buttonspanl{
    display: inline-block;
    width: 27%
  }

 
  .todoadd{
    width: 73%;
    display:inline;
  
  }


}


/* iPad portrait */
@media all and (min-width: 768px) and (orientation:portrait) {

  .listcontainer{
    width: 100%;
    max-width: 768px;
    }
}