@import "bourbon/bourbon";
@import "res/_blend-modes";



body {
	font-size: 100%;
}

// holds todo items
.unstyled-list {
	list-style-type: none;
	padding-left: 0;
	padding-top: 0;
	margin-top: 0;
	li {
		list-style-type: none;
		border-bottom: 1px solid #bbb;
		padding: 1.0em;
		padding-left: 1.0em;
		margin-left: 0;
		.todo-body {
			margin-left: 0.5em;
		}
		.todo-body-completed {
			color: #ccc;
		}
	}
}



// responsive sizing for the main page wrapper

@media only screen and (max-width: 481px) {
	div#todo-wrapper, .todo-container {
		width: 100%;
		margin: 0 auto;
		@include clearfix;
	}
}

@media only screen and (max-width: 280px) {
	div#todo-wrapper {
		width: 280px;
		margin: 0 auto;
		@include clearfix;
	}
}

@media only screen and (min-width: 800px) {
	div#todo-wrapper, .todo-container {
		//background: #f00;
		max-width: 800px;
		width: 800px;
		margin: 0 auto;
		@include clearfix;
	}
}


//wrapper around text input and button for adding
//new todos
#todo-entry-block {
	background: rgba(200, 200, 200, 0.7);
	padding: 0.5em;
	box-sizing: border-box;
	* {
		@include transition(all 0.4s ease-in-out);
	}
}

// below: base styles for todo text input and button,
// as well as media queries for the ratio between them.

#todo-input {
	width: 80%;
	padding: 0.5em;
	margin: 0;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
	box-sizing: border-box;
	border-radius: 4px;
	border: 2px solid #aaa;
}

#todo-entry-btn {
	// pulled out of the design image with eyedropper
	$bg-color: #17AA8D;
	background: $bg-color;
	color: #fdfdfd;
	border-width: 0px;
	padding: 0.5em 1.0em;
	border-radius: 8px;
	margin: 0;
	//display: inline-block;
	box-sizing: border-box;
	width: 8.0em;
	@include linear-gradient(tint($bg-color, 10%), shade($bg-color, 10%));
	text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}


@media only screen and (min-width: 751px) {
	#todo-entry-btn {
		width: 8.0em;
	}
	#todo-input {
		width: 80%;
	}
}

@media only screen and (max-width: 750px) {
	#todo-entry-btn {
		width: 7.0em;
	}
	#todo-input {
		width: 75%;
	}
}

@media only screen and (max-width: 660px) {
	#todo-input {
		width: 70%;
	}
}

@media only screen and (max-width: 600px) {
	#todo-input {
		width: 70%;
	}
	#todo-entry-btn {
		width: 7.0em;
	}
}

@media only screen and (max-width: 481px) {
	#todo-input {
		width: 80%;
		font-size: 0.9em;
	}
	#todo-entry-btn {
		width: 3.0em;
	}
}




