.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  margin: 0;
}


.container {
  padding-left: 0px;
  padding-right: 0px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.results
{
  height:51px;
  line-height: 51px;
  padding-left:31px;

}

.resWrapper
{
  border-bottom: 1px solid #e8e8e8;  
}

.todoItem
{
  padding-left:11px;
  font-size: 16px;  
}