body {
  background-color: #f7f7f0;
  padding-top: 60px;
}

form {
  padding: 10px;
  background-color: #eee;
}

li {
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.completed-true {
  color: #aaa;
}

@media (max-width: 768px) {
  body {
    padding-top: 0px;
  }
}
