<html ng-app="CantinaApp">
<head>
<title>Cantina App</title>
<link src="style.css"/> 
</head>
<body>


<div class="wrap primary" ng-controller="CantinaController as cantina">

	<form ng-submit="cantina.addItem()">
		<input type="text" ng-model="item" name="item" placeholder="What do you need to get done?" />
		<input type="submit" id="submit" value="Add To-do" />
	</form>

	<div class="todo-list-wrap">
		<ul class="todo-list">
			<li ng-repeat="item in items" class="todo-item {{item.complete}}">
				<input class="item-checkbox" type="checkbox" ng-checked={{item.completed}}>
				<span class="item-text">{{item.text}}</span>
			</li>
		</ul>
	</div>

</div>

<script src="node_modules/angular/lib/angular.min.js"></script>
<script src="app.js"></script>
</body>
