body {
  font-family: 'Helvetica Neue', 'Helvetica', Sans-Serif;
  font-weight: 300;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
  list-style: none;
}

#main {
  margin: auto;
  width: 650px;
}

#search-container {
  box-sizing: border-box;
  background-color: #222;
  background: -webkit-linear-gradient(#FDFDFF, #F2F2F2);
  background: linear-gradient(#FDFDFF, #F2F2F2);
  padding: 10px;
  width: 650px;
  height: 65px;
}

#search-input, #search-button, #search-button-landscape {
  box-sizing: border-box;
  height: 40px;
  float: left;
  font-size: 14px;
  padding-left: 10px;

}

#search-input {
 width: 570px;
 margin: 0 0 0 10px;
 border-radius: 5px 0 0 5px;
}

#search-button, #search-button-landscape {
  width: 40px;
  background: -webkit-linear-gradient(-45deg, #19B796, #19A58A);
  background: linear-gradient(-45deg, #19B796, #19A58A);
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  margin: 0 10px 0 0;
}

#search-button-landscape {
  display: none;
}

#clear-button {
  background: -webkit-linear-gradient(bottom, #c0392b, #e74c3c);
   background: linear-gradient(bottom, #c0392b, #e74c3c);
   border: none;
   border-radius: 0 0 5px 5px;
   color: white;
   padding: 10px;
  
}

  #search-input:focus, #search-button:focus, #clear-button:focus {
    outline: none;
  }

.done-true {
  color: #ddd;
}

.single-todo {

  box-sizing: border-box;
  height: 65px;
  padding: 23px 10px;
  border: 1px solid #F2F2F2;
  border-top: none;
}




@media (max-width:768px){

  #main {
    margin: auto;
  }
  #search-container {
  padding: 5px;
  width: 479px;
  height: 50px;
}

#search-input {
 width: 400px;
 margin: 0 0 0 10px;
 border-radius: 5px 0 0 5px;
}

.single-todo {
  width: 479px;
}

}


