.create-item {
    @include background-image(linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%));
    @include clearfix;
    padding: rem(12) rem(12) rem(8);
}

.create-item__field,
.create-item__button {
    float: left;
    min-height: rem(40);
}

.create-item__field {
    border: 1px solid $border;
    border-radius: rem(5);
    box-shadow: inset 0 0 rem(2) 0 rgba(219, 223, 223, 1.0);
    padding-left: rem(12);
    padding-right: rem(126); // 114 + 12
    width: 100%;

    &:focus {
        box-shadow: 0 0 rem(2) rem(1) lightskyblue;
        outline: 0;
    }

    @include placeholder {
        color: $text-light;
    }
}

button.create-item__button {
    border-radius: inherit;
    border-bottom-right-radius: rem(5);
    border-top-right-radius: rem(5);
    margin-left: rem(-114);
    width: rem(114);

    .icon {
        font-family: serif;
        font-size: 225%;
        font-weight: bold;
        text-shadow: none;
        vertical-align: top;
    }
}

// Breakpoints
@include media($medium-screen-up) {
    .create-item__button {
        .icon {
            display: none;
        }
    }
}

@include media($small-screen) {
    .create-item__field {
        padding-right: rem(57); // 45 + 12
        width: 100%;
    }

    button.create-item__button {
        margin-left: rem(-45);
        padding: 0;
        width: rem(45);

        .text {
            display: none;
        }
    }
}
