// Imports managed in Base
@import 'base';

//App styles here...

#cantina-root {
  @include make-xs-column(12);
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
  @include make-md-column(8);
  @include make-md-column-offset(2);
  @include make-lg-column(6);
  @include make-lg-column-offset(3);
}




#todo-intro {
  @extend .jumbotron;
  text-align: center;
}



.todo {
  margin-bottom: $grid-gutter-half;

  &:last-child {
    margin-bottom: 0;
  }

  .input-group-btn a.btn {
    padding-top: 7px;
  }
}


.todo-completed {
  input.form-control {
    cursor: $cursor-disabled;
    background-color: $input-bg-disabled;
    opacity: 1;
  }
}


#todos {
  @extend .panel;
  @extend .panel-default;
}


#new-todo {
  @extend .panel-heading;
  padding: $grid-gutter-half;
  button.btn {
    padding-top: 7px;
  }
}

#todo-empty {
  @extend .panel-body;
  text-align: center;
  h4 {
    margin: 15px;
    color: $gray-light;
  }
}


#todo-list {
  @extend .panel-body;
}


#todo-controls {
  @extend .panel-footer;
  text-align: right;
}
