<div class="container">

    <form role="form" ng-submit="addTodo()">
      <div class="row">
        <div class="input-group">
          <input type="text" ng-model="todo" placeholder="What do you need to get done?" class="form-control">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="+">
          </span>
        </div>
      </div>
    </form>
    <div class="resWrapper"  ng-repeat="todo in todos track by $index">
      <div class="results" ng-class="{ 'text-success': done }">
        <input type="checkbox" ng-model="done"><span class="todoItem">{{todo}}</span>
      </div>
    </div>


</div>